body {
    background-color: #454545;
}

.wrapper {
    display: flex;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.navigate {
    width: 80px;
    height: 100%;
}

/* Load file button */
.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input label {
    width: 80px;
    height: 80px;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
}

input:hover + label {
    background-color: #606060;
}

/* Frame table */
.tags-window {
    display: block;
    width: 40%;
    height: 100%;
    background-color: #505050;
}

.frame-select {
    background-color: #404040;
    border: none;
    height: 40;
    width: 100%;
    color: #E5E7E9;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
}

.tags-table {
    border-spacing: 0px;
    height: 95%;
    border-collapse: collapse;
    overflow-y: scroll;
}

.tags-table table,
td {
    border: 1px solid #333;
}

.tags-table thead {
    background-color: #333;
    color: #fff;
}

.tags-table tr.selected {
    background-color: #808080 !important;
    color: #fff;
    vertical-align: middle;
    padding: 1.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 0.1em solid #d6d6d6;
}

th,
td {
    padding: 0.25em 0.5em 0.25em 1em;
    vertical-align: text-top;
    text-align: left;
    text-indent: -0.5em;
    color: #fff;
}

th {
    background-color: #666;
}

tr:nth-child(even) th[scope=row] {
    background-color: #f2f2f2;
}

tr:nth-child(odd) th[scope=row] {
    background-color: #fff;
}

/* Fixed Headers */

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

th[scope=row] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
}

th[scope=row] {
    vertical-align: top;
    color: inherit;
    background-color: inherit;
    background: linear-gradient(90deg, transparent 0%, transparent calc(100% - .05em), #d6d6d6 calc(100% - .05em), #d6d6d6 100%);
}

table:nth-of-type(2) th:not([scope=row]):first-child {
    left: 0;
    z-index: 3;
    background: linear-gradient(90deg, #666 0%, #666 calc(100% - .05em), #ccc calc(100% - .05em), #ccc 100%);
}

/* Frame Detail */
.tag-detail {
    display: block;
    width: 55%;
    height: 100%;
}

li.selected {
    background-color: #808080 !important;
    color: #fff;
}

.frame-info {
    height: 40%;
    overflow-y: scroll;
    background-color: #303030;
}

.frame-info li {
    width: 70%;
}

.hexdump {
    height: 60%;
    overflow-y: scroll;
    background-color: #202020;
    color: #fff;
    padding-left: 30px;
}

.hex-selected {
    background-color: #808080 !important;
    color: #fff;
}

/* Strictly for making the scrolling happen. */

th[scope=row]+td {
    min-width: 24em;
}

th[scope=row] {
    min-width: 20em;
}


/* Tree view */
ul {
    list-style-type: none;
    color: #fff;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    color: #fff;
}

.caret::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
}