.tags-window {
    display: inline-block;
    width: 40%;
    height: 95%;
    overflow: scroll;
    border: 1px solid black;
    vertical-align: top;
}

.tag-detail {
    display: inline-block;
    width: 50%;
    height: 95%;
    overflow: scroll;
    border: 1px solid black;
    vertical-align: top;
}

.tags-table {
    border-spacing: 0px;
    border-collapse: collapse;
}

.tags-table table,
td {
    border: 1px solid #333;
}

.tags-table thead {
    background-color: #333;
    color: #fff;
}

.tags-table tr.selected {
    background-color: #66abec !important;
    color: #fff;
    vertical-align: middle;
    padding: 1.5em;
}

table {
    margin: 1em 0;
    border-collapse: collapse;
    border: 0.1em solid #d6d6d6;
}

caption {
    text-align: left;
    font-style: italic;
    padding: 0.25em 0.5em 0.5em 0.5em;
}

th,
td {
    padding: 0.25em 0.5em 0.25em 1em;
    vertical-align: text-top;
    text-align: left;
    text-indent: -0.5em;
}

th {
    vertical-align: bottom;
    background-color: #666;
    color: #fff;
}

tr:nth-child(even) th[scope=row] {
    background-color: #f2f2f2;
}

tr:nth-child(odd) th[scope=row] {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

td:nth-of-type(2) {
    font-style: italic;
}

/* Fixed Headers */

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

th[scope=row] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
}

th[scope=row] {
    vertical-align: top;
    color: inherit;
    background-color: inherit;
    background: linear-gradient(90deg, transparent 0%, transparent calc(100% - .05em), #d6d6d6 calc(100% - .05em), #d6d6d6 100%);
}

table:nth-of-type(2) th:not([scope=row]):first-child {
    left: 0;
    z-index: 3;
    background: linear-gradient(90deg, #666 0%, #666 calc(100% - .05em), #ccc calc(100% - .05em), #ccc 100%);
}

/* Strictly for making the scrolling happen. */

th[scope=row]+td {
    min-width: 24em;
}

th[scope=row] {
    min-width: 20em;
}